*jar

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## Android
#################
*assets/*
*bin/*
*gen/*
*jni/*
*libs/*
*obj/*
*/out*
*/.idea*
*log
*iml
*AndroidMnifest.xml
sketch.properties

#################
## Misc
#################
*~
*.db

#################
## Data
#################
test_input/*
sounds/*
images/*
web-export/*